/* Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/* Playfair Display */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;800&display=swap");
/* Open Sans */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"); */

/* Idrolele logo gradiente:
#E20613 @ 15%
#35A8E0 @ 70%
#0093D7 @ 98%
*/

/* * {
  border: 1px rgba(255, 0, 0, 0.363) solid;
} */

:root {
  --colore-rosso: #e20613;
  --colore-azzurro: #35a8e0;
  --colore-azzurroScuro: #0093d7;
  --colore-verdemare: #064960;
  --colore-verdemareSfumato85: #064960d9;
  --colore-idroleleBianco: #fbf7f5;
  --colore-grigio: #f0f0f0;
  --colore-grigio2: #aaa;
  --colore-grigioFooter: #58554f;
  --colore-grigioScuro: #333;
  --colore-idroleleNero: #240904;
  --colore-biancoPuro: #fff;
  --colore-neroPuro: #000;

  --colore-idroleleRosso: #f62d2d;
  --colore-idroleleBlu: #1034a6;

  --gradiente-rosso-blu: linear-gradient(
    to right,
    var(--colore-idroleleRosso),
    var(--colore-idroleleBlu)
  );

  --multi-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);

  --soft-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: var(--colore-idroleleBianco);
  color: #240904;
  z-index: 1;
  position: relative;
  min-height: 100vh;
}

a {
  display: inline-block !important;
}

a:visited {
  color: var(--colore-rosso);
}

i {
  padding: 6px;
}

ul,
li,
a,
button {
  text-decoration: none;
  color: inherit;
  user-select: none;
  border: none;
  outline: none;
  background: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

br {
  /* line-height: 2em; */
  margin-bottom: 20px;
}

hr {
  background: var(--gradiente-rosso-blu);
  height: 3px;
  border: none;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
  opacity: 0.8;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

h1 {
  font-size: 36px;
  margin: 0;
}

/* HEADER START */
header {
  height: 152px;
  background-color: var(--colore-verdemareSfumato85);
  color: var(--colore-idroleleBianco);
  /* padding: 10px 20px 10px 50px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 164px;
  box-shadow: var(--multi-shadow);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5rem;
  padding-right: 5rem;
}

#background-image {
  position: absolute;
  width: 100%;
  height: 140px;
  z-index: -1;
  object-fit: cover;
}

nav.nav-desktop {
  display: block;
}

nav.nav-responsive {
  display: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin: 10px;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: background-color 0.3s ease;
  color: var(--colore-idroleleBianco);
}

div,
p {
  font-size: 18px;
}

nav p a {
  font-size: 18px;
  padding: 10px;
  transition: background-color 300ms ease;
}

nav ul li a:hover,
nav p a:hover {
  background-color: var(--colore-idroleleBianco);
  color: var(--colore-verdemare);
  /* color: var(--colore-Nero); */
}

a#emergenza {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: var(--multi-shadow);
  border-radius: 1px;
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 200ms ease-out;
}

a#emergenza:hover {
  background-color: rgba(255, 255, 255, 0.85);
  color: var(--colore-verdemare);
}

#main-logo {
  height: 120px;
  transition: all 300ms ease;
}

#main-logo:hover {
  /* filter: grayscale(1) brightness(4); */
  filter: brightness(1.3);
}
/* HEADER END */

/* CONTENT START */
section {
  margin: 0px;
  width: 100%;
  margin-inline: auto;
  padding-block-start: 2.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 800ms ease-out;
}

section.fadeIn {
  opacity: 1;
}

div.section-description {
  width: 100%;
}

.container {
  /* max-width: 75rem; */
  height: auto;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

.content {
  margin: 0;
  width: 100%;
  max-width: 100%;
}

/* SPLIDE start*/

.splide__slide {
  /* transform: scale(0.8, 0.8); */
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.splide_description {
  /* temp hidden */
  visibility: hidden;
  padding-top: 10px;
}

.splide__progress__bar {
  height: 3px;
  background: var(--gradiente-rosso-blu);
  opacity: 0.5;
}

.is-active {
  opacity: 1;
}

.slider-text {
  padding-top: 20px;
}

.splide__toggle {
  margin: 6px;
  /* margin-left: 20px; */
  outline: 0;
  border-radius: 50%;
  display: inline-flex;
  width: 1.8rem;
  height: 1.8rem;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  background-color: var(--colore-grigio);
  fill: #95a5a6;
  transition: background-color 200ms ease;
}

.splide__toggle:hover {
  fill: var(--colore-grigio);
  background-color: var(--colore-idroleleRosso);
}

.splide__toggle svg {
  height: 40%;
  width: 40%;
}

button.splide__pagination__page.is-active {
  background: var(--colore-idroleleRosso) !important;
  fill: var(--colore-idroleleRosso) !important;
}
/* SPLIDE end*/

/* ----servizi start */
section#servizi {
  justify-content: start;
  margin-top: 40px;
  min-height: 90vh;
  background-color: var(--colore-grigio);
  /* padding-top: 40px; */
  padding-bottom: 20px;
}

#interactive-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  height: auto;
}

#logo-testo {
  position: relative;
  padding: 20px;
  padding-top: 40px;
  width: 100%;
  height: auto;
  flex-basis: 50%;
}

#logo-vector-container {
  float: right;
  padding-top: 30px;
  min-width: 250px;
  height: 100%;
  width: 50vw;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
  max-height: 80vh;
}

path.st2 {
  fill: var(--colore-grigioScuro);
}

svg g.blocco-interattivo {
  fill: var(--colore-grigio2);
  transition: fill 200ms ease-out;
  padding: 10px;
}

/* svg g.blocco-interattivo:hover,
svg g.blocco-interattivo:focus, */
svg g.blocco-interattivo.selected {
  fill: var(--colore-neroPuro);
  cursor: pointer;
}

div.descrizione-servizi {
  padding: 20px;
  overflow-y: auto;
  max-height: 125%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

div.descrizione-servizi > * {
  margin-top: 20px;
  /* text-align: justify; */
}

div.descrizione-servizi > img {
  box-shadow: var(--multi-shadow);
}

div.selected {
  visibility: visible;
  opacity: 1;
}

div.servizi-carets {
  width: 25%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* display: none; */
}

div.servizi-carets i {
  /* padding: 20px; */
  color: var(--colore-grigio2);
  transform: scale(1.8);
  /* width: 20px;
  height: 20px; */
  transition: color 200ms ease;
}

div.servizi-carets i:hover {
  color: #000;
}
/* ----servizi end */

/* recensioni start */
div#testimonial__slider {
  overflow: hidden;
  margin-inline: 0;
}

div.testimonial-container {
  padding: 0px 20px 20px 20px;
  box-shadow: var(--soft-shadow);
  margin-bottom: 20px;
  max-width: 40vw;
}

.testimonial-container h4 {
  /* display: inline; */
  line-height: 3rem;
  margin-top: 0px;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 400;
  /* font-style: italic; */
}

.testimonial-container img {
  /* display: inline; */
  /* position: relative; */
  height: 16px;
  margin-bottom: 0.8rem;
}

.testimonial-container a {
  text-decoration: underline;
  font-size: 16px;
  position: relative;
  text-align: right;
  width: 100%;
  color: var(--colore-azzurroScuro);
}
/* recensioni end */
/* CONTENT END */

/* FOOTER START*/
.footer-wrapper {
  font-family: "Playfair Display", serif;
  width: 100%;
  bottom: 0;
  left: 0;
  color: var(--colore-idroleleBianco);
  text-align: left;
  z-index: -1;
}

.footer-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--colore-verdemare);
  text-align: center;
  justify-content: center;
  min-height: 50px;
}

.footer-contact h2 {
  padding: 6px 10px 10px 10px;
}

.icons-footer {
  margin: 0;
  top: 4px;
  /* margin-top: 4px; */
  padding: 0;
  float: left;
  list-style: none;
  display: flex;
}

.social-icons a {
  color: var(--colore-idroleleBianco);
  margin-left: 20px;
}

.social-icons a i {
  width: 30px;
  height: 30px;
  transition: all 100ms ease-out;
}

.social-icons a i:hover {
  background-color: var(--colore-idroleleBianco);
  color: var(--colore-verdemare);
  transform: scale(1.3);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px 0px;
  background-color: var(--colore-grigioFooter);
}

#footer-image {
  position: relative;
  /* bottom: -50%; */
  width: 100%;
  z-index: -2;
  overflow: hidden;
}
/* FOOTER END */

/* CONTATTI START */
section#contatti {
  margin-top: 20px;
  padding-bottom: 20px;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  flex-direction: row;
  margin-top: 20px;
  align-items: top;
  height: auto;
  width: 100%;
}

.contact-info {
  width: 100%;
  text-align: right;
  padding-top: 20px;
  padding-right: 10%;
  padding-left: 10%;
}

.contact-form-container {
  width: 100%;
  text-align: left;
  padding: 20px;
}

/* a#contact-telefono, */
.link-animazione-gradiente {
  background: linear-gradient(
    to left,
    var(--colore-idroleleNero),
    var(--colore-idroleleNero),
    var(--colore-idroleleNero),
    var(--colore-idroleleNero),
    var(--colore-idroleleNero),
    var(--colore-idroleleNero),
    var(--colore-grigioFooter),
    var(--colore-rosso),
    var(--colore-azzurro),
    var(--colore-grigioFooter),
    var(--colore-idroleleNero),
    var(--colore-idroleleNero),
    var(--colore-idroleleNero),
    var(--colore-idroleleNero),
    var(--colore-idroleleNero),
    var(--colore-idroleleNero)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
  background-size: 500% auto;
  animation: textShine 6s ease-in-out infinite reverse;
  filter: brightness(1.3);
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 70%;
  height: 25px;
}

textarea {
  width: 70%;
  resize: none;
  height: 60px;
  font-family: "Lato";
  font-size: smaller;
}

.input-small {
  width: 34.1% !important;
  margin-right: 1%;
}

input[type="Submit"] {
  margin-top: 10px;
  height: 30px;
  background: linear-gradient(
    to right,
    #e92525,
    #f70c0c,
    #92395e,
    #1034a6,
    #1034a6 /* var(--colore-verdemare) */
  );
  background-size: 400% 100%;
  color: #fbf7f5;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: "Lato";
  font-weight: 700;
  padding: 0px;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  box-shadow: var(--multi-shadow);
  /* width: 80%; */
}

input[type="Submit"]:hover {
  background-position: 100% 0;
}

input.error {
  border: 1px solid red !important;
}
/* CONTATTI END */

@media screen and (max-width: 1024px) {
  #emergenza {
    /* display: none !important; */
    transform: scale(0.6);
  }

  g#titolo {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

  header {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 70px !important;
    padding: 10px;
  }

  #background-image {
    position: fixed;
    z-index: 9;
    height: 70px;
  }

  #main-logo {
    height: 58px;
    padding-left: 10px;
  }

  #main-logo:hover {
    filter: brightness(1);
  }

  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: 3px solid var(--colore-idroleleBianco);
    transform: scale(0.6);
    transition: all 500ms ease-in-out;
  }

  .menu-btn__burger {
    width: 50px;
    height: 6px;
    background: var(--colore-idroleleBianco);
    border-radius: 5px;
    transition: all 500ms ease-in-out;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: var(--colore-idroleleBianco);
    border-radius: 5px;
    transition: all 500ms ease-in-out;
  }

  .menu-btn__burger::before {
    transform: translateY(-16px);
  }

  .menu-btn__burger::after {
    transform: translateY(16px);
  }

  /* burger animation */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
  }

  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  nav.nav-desktop {
    display: none;
  }

  nav.nav-responsive {
    display: block;
  }

  .mobile-nav {
    visibility: hidden;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    background: var(--colore-idroleleBianco);
    max-height: calc(100vh-70px);
    opacity: 0;
    transition: all 500ms ease;
  }

  .mobile-nav.open {
    visibility: visible;
    z-index: 10;
    opacity: 1;
  }

  .mobile-nav ul {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    flex-direction: column;
  }

  .mobile-nav ul li {
    margin: 0;
    list-style: none;
    text-transform: uppercase;
    float: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .mobile-nav ul li a {
    color: var(--colore-verdemare);
    width: 100%;
    letter-spacing: 0.2em;
    padding: 30px 20px 30px 20px;
  }

  .mobile-nav ul li a:hover {
    background: var(--colore-verdemare);
    color: var(--colore-idroleleBianco);
  }

  .container {
    /* max-width: 75rem; */
    height: auto;
    margin-inline: 0;
    padding-inline: 0;
  }

  section#hero-title {
    margin-top: 70px;
  }

  section {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  section#servizi {
    justify-content: center;
    /* padding: 10px; */
    min-height: 0;
  }

  /* section#contatti {
    min-height: 80vh;
  } */

  svg#Livello_1 {
    object-position: right;
  }

  #logo-testo {
    flex-basis: 50% !important;
    flex: 1;
  }

  #logo-vector-container {
    flex-basis: 50% !important;
    min-width: 0 !important;
  }

  div.descrizione-servizi {
    /* padding: 8px; */
    padding: 8px;
    padding-left: 0px !important;
  }

  div.descrizione-servizi > * {
    margin-top: 8px;
  }

  div.servizi-carets {
    width: 40%;
    /* position: relative; */
  }

  .contact-info {
    padding: 8px;
    flex-basis: 40%;
  }

  .form-group {
    width: 100%;
  }

  textarea,
  input {
    width: 100%;
  }

  input.input-small {
    width: 47% !important;
  }

  div.testimonial-container {
    max-width: 80vw;
  }
}
